<div id="section-list" cdkDropListSortingDisabled [cdkDropListConnectedTo]="['form-renderer']" cdkDropList [cdkDropListData]="draggableSectionList">

    @for(sectionItem of draggableSectionList; track sectionItem.sections){
        <div class = "list-items" cdkDrag  [cdkDragData]="sectionItem">
            @for (item of [].constructor(sectionItem.sections); track $index) {
                
                <div class="section" >
                    
                </div>
            
            }
        </div>
        
        
    }
    
</div>