.property-column {
    padding: 10px 15px;
    font-size: 14px;
    background: #fff;
  }
  
  .property-column, .content-droppable-zone {
    box-shadow: 0 0 9px -4px #000;
  }
  
  .panel-options {
    width: 340px;
  }
  
  .panel-elements, .panel-options {
    position: relative;
    z-index: 1;
    height: calc(100vh - 100px) !important;
    overflow-y: auto;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  div {
    display: block;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }
  
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ol, ul {
    padding-left: 2rem;
  }
  
  ul {
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
  
  .mt-2 {
    margin-top: 0.5rem!important;
  }
  
  .tab-content>.active {
    display: block;
  }
  
  .fade {
    transition: opacity .15s linear;
  }