<div class="panel-options property-column">
    <div class="property-column-inner">
      <ul ngbnav="" class="nav-tabs nav" role="tablist">
        <li id="tab-current-element" class="nav-item">
          <a href (click)="openTab($event)" ngbnavlink translate id="ngb-nav-0"
             role="tab"
             aria-selected="true"
             aria-disabled="false"
             class="nav-link active"
             aria-controls="ngb-nav-0-panel">Current Element</a>
        </li>
        <li id="tab-form-design" class="nav-item">
          <a href (click)="openTab($event)" ngbnavlink translate id="ngb-nav-1"
             role="tab"
             aria-selected="false"
             aria-disabled="false"
             class="nav-link">Form Design</a>
        </li>
      </ul>
      <div class="mt-2 tab-content">
        <div ngbnavpane class="tab-pane fade active show"
             id="ngb-nav-0-panel"
             role="tabpanel"
             aria-labelledby="ngb-nav-0">
          <!--<app-current-element></app-current-element>-->
  
        </div>
        <div ngbnavpane class="tab-pane fade"
             id="ngb-nav-1-panel"
             role="tabpanel"
             aria-labelledby="ngb-nav-1">
          <!--<app-form-design></app-form-design>-->
  
        </div>
      </div>
    </div>
  </div>